<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<br/>
<br/>
<div class="container">
    <div class="col-md-12">
        <h1>Welcome to Task Manager</h1>
        <h3>Select any of the below options: </h3>
        <h4><a href="/newTask">Assign Task</a></h4>
        <h4><a href="/viewTasks">Task View</a></h4>
        </ol>
    </div>
</div>
</body>
</html>